.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1B1B2C;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.card:hover {
    background-color: #FFFFFF;
    color: #5068E7;
}

.card>h2 {
    font-size: 18px;
}

.icon {
    width: min-content;
    padding: 10px;
    border-radius: 50%;
    background-color: #5068E7;
}

.icon>img {
    width: 30px;
}